<div class="jumbotron">
  <h1>Questions for the world</h1>
  <p class="lead">Create a question for real people. It very simple!</p>
  <p><a href="#/polls/create" class="btn btn-lg btn-success">Create a New Poll</a></p>
</div>

<div class="polls-list" ng-controller="PollCtrl" ng-init="renderAll()">
  <div class="poll-item row" ng-repeat="poll in polls">
    <div class="col-lg-6">
      <a href="#/polls/{{poll._id}}">
        <span class="title">{{poll.title}}</span>
        <h4 class="question">{{poll.question}}</h4>
      </a>        
    </div>
    <div class="col-lg-6 poll-item-right">
      <div class="actions">
        <a href="#/polls/{{poll._id}}/result" class="btn btn-link">Resultado Parcial</a>
        <a href="#/polls/{{poll._id}}" class="btn btn-success">Votar</a>
      </div>
    </div>
  </div>
</div>
