<div ng-controller="PollCtrl" ng-init="render()"> 
  <h3>{{poll.title}}</h3> 
  <p class="question">{{poll.question}}</p>  
  <h2>Which is your favorite?</h2>
   <form>   
     <div ng-repeat="choice in poll.choices" for="{{choice}}">
       {{choice}}
       <input type="radio"
              ng-model="$parent.poll.choiceSelected"
              ng-value="choice"
              id="{{choice}}"
              name="choice">
     </div>
   <div>You chose {{poll.choiceSelected}}</div>
 </form>
</div>

