<div ng-controller="PollCtrl" ng-init="render()"> 
  <h3>{{poll.title}}</h3> 
  <p class="question">{{poll.question}}</p>  
  <form name="myForm" ng-controller="PollCtrl">
    <input type="radio" ng-model="poll.choices[0]" ng-value="{{poll.choices[0]}}"> {{poll.choices[0]}} <br/>
    <input type="radio" ng-model="poll.choices[1]" ng-value="{{poll.choices[1]}}"> {{poll.choices[1]}} <br/>
    <input type="radio" ng-model="poll.choices[2]" ng-value="{{poll.choices[2]}}"> {{poll.choices[2]}} <br/>
  </form>
</div>

