<!--List the poll with its choices-->
<div class="poll-vote" ng-controller="PollCtrl" ng-init="render()"> 
  <h3>{{poll.title}}</h3> 
  <p class="question">{{poll.question}}</p>
  <form>
    <div class="choices">
      <div class="radioholder" ng-repeat="choice in poll.choices track by $index">
        <input type="radio" ng-value="choice" ng-model="poll.chosen" ng-required="true" id="{{choice}}" name="choice">
        <label for="{{choice}}">{{choice}}</label>
      </div>
    </div>
    <div class="actions" ng-controller="VoteCtrl"> 
      <button ng-click="save(poll._id, poll.chosen)" class="btn btn-success btn-lg" ng-disabled="choices.$invalid">Vote</button>
    </div>
  </form>
</div>
